@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@1,700&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

/* headings and logo */

h1, h2 {
    font-family: "Epilogue", sans-serif;
}

#logo {
    font-family: "Work Sans", sans-serif;
    font-size: 160%;
    font-style: italic;
}

/* navigation links */

.header { 
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    text-align: center;
}
  
#menu {
     font-size: 130%;
     background-color: #f6f4e8;
     color: #1d3124
}

#menu, #logo{
    line-height: 85px;
}

#menu li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px dotted #1d3124;
}

#menu h1:hover {
    border-bottom: 2px dotted #1d3124;
}

#sign-up {
    border: 1px solid #1d3124;
    padding: 10px;
}