@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@1,700&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

/* headings and logo */

h1, h2 {
    font-family: "Epilogue", sans-serif;
}

/* navigation links */

.header { 
    display: flex;
    justify-content: space-between;
    margin: 20px;
    text-align: center;
}

#logo {
    font-family: "Work Sans", sans-serif;
    font-size: 180%;
    font-style: italic;
}
  
#menu { font-size: 120%;
}

#menu, #logo{
    line-height: 75px;
}

#menu li {
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px dotted;
}

#menu h1:hover {
    border-bottom: 1px dotted;
}